.array-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Share Tech Mono', monospace;
  margin-left: 90px;
  .secondary-displays{
    display: flex;
    width: 1000px;
    justify-content: center;
    .left-right{
      display: flex;
      justify-content: end;
      flex-direction: column-reverse;
      width: 150px;
      min-width: 150px;
      max-width: 150px;
      margin: 50px;
      height: 300px;
      transform: translate(0px, 300px);
      .array-index-item{
        margin: 3px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 30px;
        min-width: 22px;
        background: linear-gradient(to left, #5A24B4, #FE37EA);
        div{
          margin: 4px;
        }
      }
    }
  }
  .array-main{
    display: flex;
    width: 530px;
    height: 200px;
    transform: translate(0px, -110px);
    border-bottom: 30px solid black;
    border-radius: 7px;
    .array-main-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .array-index-item{
        margin-left: 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 30px;
        background: linear-gradient(to left, #5A24B4, #AA33FF);
        div{
          margin: 5px;
        }
      }
      .midpoint{
        background: linear-gradient(to left, rgb(180, 36, 36), rgb(255, 95, 95));
      }
    }
    .idx-1{
      transform: translate(20px)
    }
    .idx-2{
      transform: translate(40px)
    }
    .idx-3{
      transform: translate(60px)
    }
    .idx-4{
      transform: translate(80px)
    }
    .idx-5{
      transform: translate(100px)
    }
    .idx-6{
      transform: translate(120px)
    }
    .idx-7{
      transform: translate(140px)
    }
    .idx-8{
      transform: translate(160px)
    }
    .idx-9{
      transform: translate(180px)
    }
  }
  .stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
    ul{
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style-type: none;
      height: 200px;
      width: fit-content;
      padding: 0;
      align-items: center;
      width: 350px;
      margin: 0;
      li{
        margin: 4px;
      }
    }
  }
  .pseudo-container{
    transform: translate(0px, -110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    // html targeting is buggy so must do this
    #list{
      list-style: none;
      li{
        margin-bottom: 10px;
        .padding{
          margin-left: 2.5em;
          margin-top: .3em;
          width: fit-content;
          strong{
            position: absolute;
          }
        }
      }
    }
  }
}


// DUE TO A GLITCH IN THIS VERSION OF SCSS CERTAIN DIVS ARE NOT FOUND
// THIS IS THE WORKAROUND.

#left-right-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.animate-right{
  animation: diagonalRight 0.5s 1;
}
.animate-left{
  animation: diagonalLeft 0.5s 1;
}
.animate-grow{
  animation: grow 0.5s 1;
}
.animate-grow2{
  animation: grow2 0.5s 1;
}


@keyframes diagonalRight {
    0%       { transform: translatex(-200px) translatey(190px);
               background: linear-gradient(to left, #5A24B4, #AA33FF);
               width: 30px;
               height: 50px;}
    50%      { width: 400px;
               height: 40px;}
    100%     { transform: translatex(0px) translatey(0px);
               background: linear-gradient(to left, #5A24B4, #FE37EA);
               width: 50px;
               height: 30px; }
}

@keyframes diagonalLeft {
    0%       { transform: translatex(200px) translatey(190px);
               background: linear-gradient(to left, #5A24B4, #AA33FF);
               width: 30px;
               height: 50px;}
    50%      { width: 400px;
               height: 40px;}
    100%     { transform: translatex(0px) translatey(0px);
               background: linear-gradient(to left, #5A24B4, #FE37EA);
               width: 50px;
               height: 30px; }
}

@keyframes grow {
  0% { transform: scale(0.4); }
  100% { transform: scale(1) }
}
// necessary to trigger a rerender of the above animation
@keyframes grow2 {
  0% { transform: scale(0.4); }
  100% { transform: scale(1) }
}
