.array-container{
  display: flex;
  // justify-content: space-evenly;
  background-color: white;
  .left-container{
    width: 300px;
    color: black;
    @media only screen and (min-width: 1280px){
      padding: 23px 60px 0px 31px;     
    }
    @media only screen and (min-width: 1440px){
      padding: 23px 92px 0px 31px;     
    }
    @media only screen and (min-width: 1600px){
      padding: 50px 116px 0px 85px;
    }
    .title-and-description{
      .title{
        @media only screen and (min-width: 1280px){
          font-size: 38.5px; 
        }
        @media only screen and (min-width: 1440px){
          font-size: 41px; 
        }
        @media only screen and (min-width: 1600px){
          font-size: 45px;
        }
        strong{
          background: linear-gradient(to left, #5A24B4, #FE37EA);
          border-radius: 30px;
          padding: 7px;
          color: greenyellow;
        }
        div{
          margin-top: 7px;
        }
      }
      .description{
        margin-top: 9px;
        @media only screen and (min-width: 1280px){
          overflow: hidden;
          height: 35px;
          font-size: 16px; 
        }
        @media only screen and (min-width: 1440px){
          overflow: initial;
          height: inherit;
        }
        @media only screen and (min-width: 1600px){
          font-size: 20px;
        }
      }
    }
    .instructions{
      margin-top: 25px;
      width: 370px;
      h2{
        margin-bottom: 12px;
        @media only screen and (min-width: 1280px){
          font-size: 25px;
        }
        @media only screen and (min-width: 1440px){
          font-size: 30px;
        }
      }
      div{
        list-style: none;
        @media only screen and (min-width: 1280px){
          transform: translate(-17px, 0px)
        }
        @media only screen and (min-width: 1440px){
          transform: translate(0px, 0px)
        }
        li{
          margin-bottom: 7px;
          font-size: 20px;
          @media only screen and (min-width: 1280px){
            transform: scale(0.9);
          }
          @media only screen and (min-width: 1440px){
            transform: scale(1);
          }
        }
      }
    }
    .developer{
      margin-top: 28px;
      .title{
        background: black;
        font-size: 23px;
        margin-bottom: 12px;
        color: white;
        border-radius: 7px;
        width: fit-content;
        padding: 7px;
      }
      #name{
        font-size: 20px;
        border-bottom: 2px solid black;
        width: fit-content;
      }
      .links{
        transition: 0.2s;
        font-size: 18px;
        margin: 7px;
        position: absolute;
        z-index: 10;
        &:hover{
          color: red;
          font-weight: bold;
          font-size: 20px;
        }
      }
      #linkedin-link{
        transform: translate(0px, 25px);
      }
      #portfolio-link{
        transform: translate(0px, 50px);
      }
    }
    .speed-controls{
      margin-top: 24px;
      color: white;
      border: 2px solid red;
      h2{
        display: flex;
        justify-content: center;
        background: red;
        font-size: 24px;
        margin: 0;
      }
      &-labels{
        display: flex;
        justify-content: space-between;
        width: 277px;
        padding-left: 11px;
        strong{
          margin: 5px;
        }
        #slow{
          color: #5dc3d0;
        }
        #medium{
          color: #a25dd0;
        }
        #fast{
          color: #d05d5d;
        }
       
      }
      &-buttons{
        display: flex;
        justify-content: center;
      }
    }
  }
  .right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    border-left: solid;
    min-width: 1016px;
    @media only screen and (min-width: 1280px){
      width: 890px;
      min-width: 890px;
    }
    @media only screen and (min-width: 1440px){
      width: 1000px;
    }
    @media only screen and (min-width: 1600px){
      width: 100%;
    }
    .secondary-displays{
      border: 1px solid black;
      display: flex;
      justify-content: center;
      @media only screen and (min-width: 1280px){
        width: 840px;        
        height: 288px;
      }
      @media only screen and (min-width: 1440px){
        width: 840px;        
        height: 368px;
      }
      @media only screen and (min-width: 1600px){
        width: 1000px;
        height: inherit;
      }
      .left-right{
        // border: 1px solid black;
        display: flex;
        justify-content: end;
        flex-direction: column-reverse;
        margin: 50px;
        height: 300px;
        transform: translate(0px, 300px);
        @media only screen and (min-width: 1280px){
          width: 240px;
          min-width: 240px;
          max-width: 240px;
          color: blue;
        }
        @media only screen and (min-width: 1600px){
          width: 250px;
          min-width: 250px;
          max-width: 250px;
          color: green;
        }
        .array-index-item{
          margin: 3px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 30px;
          min-width: 22px;
          background: linear-gradient(to left, #5A24B4, #FE37EA);
          div{
            margin: 4px;
          }
        }
      }
    }
    .array-main{
      display: flex;
      width: 530px;
      height: 200px;
      border-bottom: 70px solid black;
      border-radius: 15px;
      @media only screen and (min-width: 1280px){
        transform: translate(0px, -156px);        
      }
      @media only screen and (min-width: 1440px){
        transform: translate(0px, -110px);
      }
      #awaiting-input{
        color: #AA33FF;
        font-size: 63px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        #a{
          animation: float 6s ease-in-out infinite;
        }
        #w{
          animation: float 3s ease-in-out infinite;        
        }
        #a2{
          animation: float 4s ease-in-out infinite;
        }
        #i{
          animation: float 5s ease-in-out infinite;
        }
        #t{
          animation: float 3.7s ease-in-out infinite;
        }
        #i2{
          animation: float 4.5s ease-in-out infinite;
        }
        #n{
          animation: float 3.5s ease-in-out infinite;
        }
        #g{
          animation: float 5.5s ease-in-out infinite;
        }
        #i3{
          animation: float 3.5s ease-in-out infinite;
        }
        #n2{
          animation: float 4.2s ease-in-out infinite;
        }
        #p{
          animation: float 2.9s ease-in-out infinite;
        }
        #u{
          animation: float 5.7s ease-in-out infinite;
        }
        #t2{
          animation: float 3.1s ease-in-out infinite;
        }
      }
      .array-main-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .array-index-item{
          margin-left: 4px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 30px;
          background: linear-gradient(to left, #5A24B4, #AA33FF);
          div{
            margin: 5px;
          }
        }
        .midpoint{
          background: linear-gradient(to left, rgb(180, 36, 36), rgb(255, 95, 95));
        }
      }
      .idx-1{
        transform: translate(20px)
      }
      .idx-2{
        transform: translate(40px)
      }
      .idx-3{
        transform: translate(60px)
      }
      .idx-4{
        transform: translate(80px)
      }
      .idx-5{
        transform: translate(100px)
      }
      .idx-6{
        transform: translate(120px)
      }
      .idx-7{
        transform: translate(140px)
      }
      .idx-8{
        transform: translate(160px)
      }
      .idx-9{
        transform: translate(180px)
      }
    }
    .stack{
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (min-width: 1440px){ 
        margin: 0px 10px 0px 10px;  
      }
      @media only screen and (min-width: 1600px){
        margin-bottom: 50px;
        margin-left: 75px;
        margin-right: 75px;
      }
      ul{
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        list-style-type: none;
        width: fit-content;
        padding: 0;
        align-items: center;
        width: 350px;
        margin: 0;
        @media only screen and (min-width: 1280px){ 
          height: 105px; 
        } 
        @media only screen and (min-width: 1440px){ 
          height: 200px;
        } 
        li{
          margin: 4px;
        }
      }
    }
    .pseudo-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (min-width: 1280px){
        transform: translate(0px, -149px);        
      }
      @media only screen and (min-width: 1440px){
        transform: translate(0px, -110px);
      }
      .stackMessage{
        font-weight: 1000;
        color: #AA33FF;
        @media only screen and (min-width: 1280px){ 
          font-size: 24px;
          margin-top: 15px;
        }
        // @media only screen and (min-width: 1440px){ 
        //   font-size: 24px;
        //   margin-top: 15px;
        // }
        @media only screen and (min-width: 1600px){
          font-size: 26px;
          margin-bottom: 15px;
        }
      }
      // html targeting is buggy so must do this
      #list{
        list-style: none;
        padding: 0;
        @media only screen and (min-width: 1280px){ 
          margin-block-start: .3em;
          margin-block-end: 0;
        }
        @media only screen and (min-width: 1440px){ 
          margin-block-start: 1em;
          margin-block-end: 1em;
        }
        li{
          margin-bottom: 10px;
          .padding{
            margin-left: 2.5em;
            margin-top: .3em;
            width: fit-content;
            strong{
              position: absolute;
            }
          }
        }
      }
    }
  }
}


// DUE TO A GLITCH IN THIS VERSION OF SCSS CERTAIN DIVS ARE NOT FOUND
// THIS IS THE WORKAROUND.

#left-right-item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

// USER CONTROLS MODIFICATION FOR ArrayIndex component
#play-pause{
  transform: translate(96px, -171px);
  display: flex;
  justify-content: space-between;
  width: 325px;
  height: 53px;
}


// ANIMATIONS

.animate-right{
  animation: diagonalRight 0.5s 1;
}
.animate-left{
  animation: diagonalLeft 0.5s 1;
}
.animate-grow{
  animation: grow 0.5s 1;
}
.animate-grow2{
  animation: grow2 0.5s 1;
}


@keyframes diagonalRight {
    0%       { transform: translatex(-200px) translatey(190px);
               background: linear-gradient(to left, #5A24B4, #AA33FF);
               width: 30px;
               height: 50px;}
    50%      { width: 400px;
               height: 40px;}
    100%     { transform: translatex(0px) translatey(0px);
               background: linear-gradient(to left, #5A24B4, #FE37EA);
               width: 50px;
               height: 30px; }
}

@keyframes diagonalLeft {
    0%       { transform: translatex(200px) translatey(190px);
               background: linear-gradient(to left, #5A24B4, #AA33FF);
               width: 30px;
               height: 50px;}
    50%      { width: 400px;
               height: 40px;}
    100%     { transform: translatex(0px) translatey(0px);
               background: linear-gradient(to left, #5A24B4, #FE37EA);
               width: 50px;
               height: 30px; }
}

@keyframes grow {
  0% { transform: scale(0.4); }
  100% { transform: scale(1) }
}
// necessary to trigger a rerender of the above animation
@keyframes grow2 {
  0% { transform: scale(0.4); }
  100% { transform: scale(1) }
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
