.array-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .secondary-displays{
    display: flex;
    width: 1000px;
    justify-content: center;
    .left-right{
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  .array-main{
    display: flex;
    width: 530px;
    height: 200px;
    border: 1px solid gray;
    .array-main-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .idx-1{
      transform: translate(20px)
    }
    .idx-2{
      transform: translate(40px)
    }
    .idx-3{
      transform: translate(60px)
    }
    .idx-4{
      transform: translate(80px)
    }
    .idx-5{
      transform: translate(100px)
    }
    .idx-6{
      transform: translate(120px)
    }
    .idx-7{
      transform: translate(140px)
    }
    .idx-8{
      transform: translate(160px)
    }
    .idx-9{
      transform: translate(180px)
    }
  }
  .stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      list-style-type: none;
      height: 300px;
      width: fit-content;
      padding: 0;
      align-items: center;
      width: 200px;
      border: 1px solid gray;
      margin: 0;
    }
  }
  .box-title-bottom{
    border: 3px solid gray;
    display: flex;
    justify-content: center;
  }
}


