.box-title-bottom{
  display: flex;
  justify-content: center;
  padding: 10px 35px;
  margin-top: 7px;
  font-size: 28px;
}


.menu-card{
  cursor: pointer;
  align-items: center;
  div{
    // min-width: 120px;
    transition: 0.4s;
    width: fit-content;
    padding: 7px 12px 7px 12px;
    &:hover{
      transform: scale(0.9, 0.9);
      color: #AA33FF;
      font-weight: 1000;
      border-radius: 100px;
      background-color: white;
  }
  }
}

