.box-title-bottom{
  display: flex;
  justify-content: center;
  padding: 10px 35px;
  margin-top: 7px;
  font-size: 28px;
}


.menu-card{
  cursor: pointer;
  align-items: center;
  div{
    // min-width: 120px;
    transition: 0.4s;
    width: fit-content;
    padding: 7px 12px 7px 12px;
    &:hover{
      transform: scale(0.9, 0.9);
      color: #AA33FF;
      font-weight: 1000;
      border-radius: 100px;
      background-color: white;
  }
  }
}

.speed-button{
 
  border: 2px solid white;
  display: inline-block;
  text-decoration: none;
  width: 30px;
  line-height: 120px;
  font-size: 20px;
  height: 30px;
  transition: .2s;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0px 12px 12px 12px;
  &-very-slow{
    background: #5dc3d0;
  }
  &-slow{
    background: #5d7cd0;
  }
  &-normal{
    background: #a25dd0;
  }
  &-fast{
    background: #d05d8d;
  }
  &-very-fast{
    background: #d05d5d;
  }
  &:hover{
    transform: scale(1.2, 1.2);
    border-color: gold;
  }
  &:active{
    border: 3px solid black;  
  }
}



