@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
body, html {
  height: 100%;
}
@media only screen and (min-width: 0px) {
  body, html {
    overflow: initial;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 1600px) {
  body, html {
    overflow: hidden;
  }
}

#root {
  height: 100%;
}
@media only screen and (min-width: 0px) {
  #root {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 1600px) {
  #root {
    overflow-y: initial;
    overflow-x: initial;
  }
}

.array-container {
  display: flex;
  background-color: white;
}
.array-container .left-container {
  width: 300px;
  color: black;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container {
    padding: 23px 0px 0px 12px;
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container {
    padding: 23px 60px 0px 31px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container {
    padding: 23px 92px 0px 31px;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .left-container {
    padding: 50px 116px 0px 85px;
  }
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .title-and-description .title {
    font-size: 38.5px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .title-and-description .title {
    font-size: 41px;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .left-container .title-and-description .title {
    font-size: 45px;
  }
}
.array-container .left-container .title-and-description .title strong {
  background: linear-gradient(to left, #5A24B4, #FE37EA);
  border-radius: 30px;
  padding: 7px;
  color: greenyellow;
}
.array-container .left-container .title-and-description .title div {
  margin-top: 7px;
}
.array-container .left-container .title-and-description .description {
  margin-top: 9px;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .title-and-description .description {
    overflow: hidden;
    height: 35px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .title-and-description .description {
    overflow: initial;
    height: inherit;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .left-container .title-and-description .description {
    font-size: 20px;
  }
}
.array-container .left-container .instructions {
  margin-top: 25px;
  width: 370px;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .instructions h2 {
    font-size: 21px;
    margin-bottom: 7px;
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .instructions h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .instructions h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
}
.array-container .left-container .instructions div {
  list-style: none;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .instructions div {
    transform: translate(-54px, 0px);
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .instructions div {
    transform: translate(-17px, 0px);
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .instructions div {
    transform: translate(0px, 0px);
  }
}
.array-container .left-container .instructions div li {
  margin-bottom: 7px;
  font-size: 20px;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .instructions div li {
    transform: scale(0.7);
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .instructions div li {
    transform: scale(0.9);
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .instructions div li {
    transform: scale(1);
  }
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .developer {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .developer {
    margin-top: 28px;
  }
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .developer .title {
    padding: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    border-bottom: 2px solid;
    color: black;
    background: none;
    width: fit-content;
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .developer .title {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 7px;
    font-size: 18px;
    background: black;
    color: white;
    width: fit-content;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .developer .title {
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 12px;
    font-size: 23px;
    background: black;
    color: white;
    width: fit-content;
  }
}
.array-container .left-container .developer #name {
  font-size: 20px;
  border-bottom: 2px solid black;
  width: fit-content;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .developer #name {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .developer #name {
    display: inherit;
  }
}
.array-container .left-container .developer .links {
  transition: 0.2s;
  font-size: 18px;
  position: absolute;
  z-index: 10;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .developer .links {
    margin: 7px 0px 0px 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .developer .links {
    margin: 7px;
  }
}
.array-container .left-container .developer .links:hover {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .developer #linkedin-link {
    transform: translate(75px, 0px);
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .developer #linkedin-link {
    transform: translate(105px, 0px);
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .developer #linkedin-link {
    transform: translate(0px, 25px);
  }
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .developer #portfolio-link {
    transform: translate(166px, 0px);
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .developer #portfolio-link {
    transform: translate(225px, 0px);
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .left-container .developer #portfolio-link {
    transform: translate(0px, 50px);
  }
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .speed-controls-container {
    transform: translate(-28px, -15px);
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .speed-controls-container {
    transform: translate(0px, 0px);
  }
}
.array-container .left-container .speed-controls-container .speed-controls {
  margin-top: 24px;
  color: white;
  border: 2px solid red;
}
@media only screen and (min-width: 0px) {
  .array-container .left-container .speed-controls-container .speed-controls {
    transform: scale(0.8, 0.8);
  }
}
@media only screen and (min-width: 1280px) {
  .array-container .left-container .speed-controls-container .speed-controls {
    transform: scale(1, 1);
  }
}
.array-container .left-container .speed-controls-container .speed-controls h2 {
  display: flex;
  justify-content: center;
  background: red;
  font-size: 24px;
  margin: 0;
}
.array-container .left-container .speed-controls-container .speed-controls-labels {
  display: flex;
  justify-content: space-between;
  width: 277px;
  padding-left: 11px;
}
.array-container .left-container .speed-controls-container .speed-controls-labels strong {
  margin: 5px;
}
.array-container .left-container .speed-controls-container .speed-controls-labels #slow {
  color: #5dc3d0;
}
.array-container .left-container .speed-controls-container .speed-controls-labels #medium {
  color: #a25dd0;
}
.array-container .left-container .speed-controls-container .speed-controls-labels #fast {
  color: #d05d5d;
}
.array-container .left-container .speed-controls-container .speed-controls-buttons {
  display: flex;
  justify-content: center;
}
.array-container .right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  border-left: solid;
  min-width: 1016px;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container {
    width: 890px;
    min-width: 890px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .right-container {
    width: 1000px;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .right-container {
    width: 100%;
  }
}
.array-container .right-container .secondary-displays {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .secondary-displays {
    width: 840px;
    height: 288px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .right-container .secondary-displays {
    width: 840px;
    height: 368px;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .right-container .secondary-displays {
    width: 1000px;
    height: inherit;
  }
}
.array-container .right-container .secondary-displays .left-right {
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
  margin: 50px;
  height: 300px;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .secondary-displays .left-right {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    transform: translate(0px, 200px);
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .right-container .secondary-displays .left-right {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    transform: translate(0px, 300px);
  }
}
.array-container .right-container .secondary-displays .left-right .array-index-item {
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30px;
  min-width: 22px;
  background: linear-gradient(to left, #5A24B4, #FE37EA);
}
.array-container .right-container .secondary-displays .left-right .array-index-item div {
  margin: 4px;
}
.array-container .right-container .array-main {
  display: flex;
  width: 530px;
  height: 200px;
  border-bottom: 70px solid black;
  border-radius: 15px;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .array-main {
    transform: translate(0px, -156px);
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .right-container .array-main {
    transform: translate(0px, -110px);
  }
}
.array-container .right-container .array-main #awaiting-input {
  color: #AA33FF;
  font-size: 63px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.array-container .right-container .array-main #awaiting-input #a {
  animation: float 6s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #w {
  animation: float 3s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #a2 {
  animation: float 4s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #i {
  animation: float 5s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #t {
  animation: float 3.7s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #i2 {
  animation: float 4.5s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #n {
  animation: float 3.5s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #g {
  animation: float 5.5s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #i3 {
  animation: float 3.5s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #n2 {
  animation: float 4.2s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #p {
  animation: float 2.9s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #u {
  animation: float 5.7s ease-in-out infinite;
}
.array-container .right-container .array-main #awaiting-input #t2 {
  animation: float 3.1s ease-in-out infinite;
}
.array-container .right-container .array-main .array-main-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.array-container .right-container .array-main .array-main-item .array-index-item {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30px;
  background: linear-gradient(to left, #5A24B4, #AA33FF);
}
.array-container .right-container .array-main .array-main-item .array-index-item div {
  margin: 5px;
}
.array-container .right-container .array-main .array-main-item .midpoint {
  background: linear-gradient(to left, #b42424, #ff5f5f);
}
.array-container .right-container .array-main .idx-1 {
  transform: translate(20px);
}
.array-container .right-container .array-main .idx-2 {
  transform: translate(40px);
}
.array-container .right-container .array-main .idx-3 {
  transform: translate(60px);
}
.array-container .right-container .array-main .idx-4 {
  transform: translate(80px);
}
.array-container .right-container .array-main .idx-5 {
  transform: translate(100px);
}
.array-container .right-container .array-main .idx-6 {
  transform: translate(120px);
}
.array-container .right-container .array-main .idx-7 {
  transform: translate(140px);
}
.array-container .right-container .array-main .idx-8 {
  transform: translate(160px);
}
.array-container .right-container .array-main .idx-9 {
  transform: translate(180px);
}
.array-container .right-container .stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .stack {
    margin: 0px 10px 0px 10px;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .right-container .stack {
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }
}
.array-container .right-container .stack ul {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  width: fit-content;
  padding: 0;
  align-items: center;
  width: 350px;
  margin: 0;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .stack ul {
    height: 105px;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .right-container .stack ul {
    height: 200px;
  }
}
.array-container .right-container .stack ul li {
  margin: 4px;
}
.array-container .right-container .pseudo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .pseudo-container {
    transform: translate(0px, -149px);
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .right-container .pseudo-container {
    transform: translate(0px, -110px);
  }
}
.array-container .right-container .pseudo-container .stackMessage {
  font-weight: 1000;
  color: #AA33FF;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .pseudo-container .stackMessage {
    font-size: 24px;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1600px) {
  .array-container .right-container .pseudo-container .stackMessage {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
.array-container .right-container .pseudo-container #list {
  list-style: none;
  padding: 0;
}
@media only screen and (min-width: 0px) {
  .array-container .right-container .pseudo-container #list {
    margin-block-start: 0.3em;
    margin-block-end: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .array-container .right-container .pseudo-container #list {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}
.array-container .right-container .pseudo-container #list li {
  margin-bottom: 10px;
}
.array-container .right-container .pseudo-container #list li .padding {
  margin-left: 2.5em;
  margin-top: 0.3em;
  width: fit-content;
}
.array-container .right-container .pseudo-container #list li .padding strong {
  position: absolute;
}

#left-right-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#play-pause {
  display: flex;
  justify-content: space-between;
  width: 325px;
  height: 53px;
}
@media only screen and (min-width: 0px) {
  #play-pause {
    transform: translate(96px, -217px);
  }
}
@media only screen and (min-width: 1440px) {
  #play-pause {
    transform: translate(96px, -171px);
  }
}

.animate-right {
  animation: diagonalRight 0.5s 1;
}

.animate-left {
  animation: diagonalLeft 0.5s 1;
}

.animate-grow {
  animation: grow 0.5s 1;
}

.animate-grow2 {
  animation: grow2 0.5s 1;
}

@keyframes diagonalRight {
  0% {
    transform: translatex(-200px) translatey(190px);
    background: linear-gradient(to left, #5A24B4, #AA33FF);
    width: 30px;
    height: 50px;
  }
  50% {
    width: 400px;
    height: 40px;
  }
  100% {
    transform: translatex(0px) translatey(0px);
    background: linear-gradient(to left, #5A24B4, #FE37EA);
    width: 50px;
    height: 30px;
  }
}
@keyframes diagonalLeft {
  0% {
    transform: translatex(200px) translatey(190px);
    background: linear-gradient(to left, #5A24B4, #AA33FF);
    width: 30px;
    height: 50px;
  }
  50% {
    width: 400px;
    height: 40px;
  }
  100% {
    transform: translatex(0px) translatey(0px);
    background: linear-gradient(to left, #5A24B4, #FE37EA);
    width: 50px;
    height: 30px;
  }
}
@keyframes grow {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow2 {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.main {
  background-color: black;
  font-family: "Share Tech Mono", monospace;
  min-width: 1584px;
  height: inherit;
}
.main .user-controls {
  margin: 0;
  font-size: 35px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  color: white;
}
@media only screen and (min-width: 0px) {
  .main .user-controls {
    transform: translate(-200px, -270px);
  }
}
@media only screen and (min-width: 1280px) {
  .main .user-controls {
    transform: translate(-123px, -270px);
  }
}
@media only screen and (min-width: 1440px) {
  .main .user-controls {
    transform: translate(-35px, -224px);
  }
}
@media only screen and (min-width: 1600px) {
  .main .user-controls {
    transform: translate(85px, -224px);
  }
}

.box-title-bottom {
  display: flex;
  justify-content: center;
  padding: 10px 35px;
}
@media only screen and (min-width: 0px) {
  .box-title-bottom {
    margin-top: 0px;
    font-size: 26px;
    padding-top: 5px;
  }
}
@media only screen and (min-width: 1440px) {
  .box-title-bottom {
    margin-top: 7px;
    font-size: 28px;
  }
}

.menu-card {
  cursor: pointer;
  align-items: center;
}
.menu-card div {
  transition: 0.4s;
  width: fit-content;
  padding: 7px 12px 7px 12px;
}
.menu-card div:hover {
  transform: scale(0.9, 0.9);
  color: #AA33FF;
  font-weight: 1000;
  border-radius: 100px;
  background-color: white;
}

.speed-button {
  border: 2px solid white;
  display: inline-block;
  text-decoration: none;
  width: 30px;
  line-height: 120px;
  font-size: 20px;
  height: 30px;
  transition: 0.2s;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0px 12px 12px 12px;
}
.speed-button-very-slow {
  background: #5dc3d0;
}
.speed-button-slow {
  background: #5d7cd0;
}
.speed-button-normal {
  background: #a25dd0;
}
.speed-button-fast {
  background: #d05d8d;
}
.speed-button-very-fast {
  background: #d05d5d;
}
.speed-button:hover {
  transform: scale(1.2, 1.2);
  border-color: gold;
}
.speed-button:active {
  border: 3px solid black;
}

/*# sourceMappingURL=output.css.map */
