@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
.array-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  margin-left: 90px;
}
.array-container .secondary-displays {
  display: flex;
  width: 1000px;
  justify-content: center;
}
.array-container .secondary-displays .left-right {
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
  width: 150px;
  margin: 50px;
  height: 300px;
  transform: translate(0px, -300px);
}
.array-container .secondary-displays .left-right .array-index-item {
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30px;
  min-width: 22px;
  background: linear-gradient(to left, #5A24B4, #FE37EA);
}
.array-container .secondary-displays .left-right .array-index-item div {
  margin: 4px;
}
.array-container .array-main {
  display: flex;
  width: 530px;
  height: 200px;
  transform: translate(0px, -110px);
}
.array-container .array-main .array-main-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.array-container .array-main .array-main-item .array-index-item {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30px;
  background: linear-gradient(to left, #5A24B4, #AA33FF);
}
.array-container .array-main .array-main-item .array-index-item div {
  margin: 5px;
}
.array-container .array-main .array-main-item .midpoint {
  background: linear-gradient(to left, #b42424, #ff5f5f);
}
.array-container .array-main .idx-1 {
  transform: translate(20px);
}
.array-container .array-main .idx-2 {
  transform: translate(40px);
}
.array-container .array-main .idx-3 {
  transform: translate(60px);
}
.array-container .array-main .idx-4 {
  transform: translate(80px);
}
.array-container .array-main .idx-5 {
  transform: translate(100px);
}
.array-container .array-main .idx-6 {
  transform: translate(120px);
}
.array-container .array-main .idx-7 {
  transform: translate(140px);
}
.array-container .array-main .idx-8 {
  transform: translate(160px);
}
.array-container .array-main .idx-9 {
  transform: translate(180px);
}
.array-container .stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 75px;
  margin-right: 75px;
}
.array-container .stack ul {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  height: 200px;
  width: fit-content;
  padding: 0;
  align-items: center;
  width: 350px;
  margin: 0;
}
.array-container .stack ul li {
  margin: 4px;
}
.array-container .pseudo-container {
  transform: translate(0px, -110px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.array-container .pseudo-container #list {
  list-style: none;
}
.array-container .pseudo-container #list li {
  margin-bottom: 10px;
}
.array-container .pseudo-container #list li .padding {
  margin-left: 2.5em;
  margin-top: 0.3em;
  width: fit-content;
}
.array-container .pseudo-container #list li .padding strong {
  position: absolute;
}

#left-right-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.animate-right {
  animation: diagonalRight 0.5s 1;
}

.animate-left {
  animation: diagonalLeft 0.5s 1;
}

.animate-grow {
  animation: grow 0.5s 1;
}

.animate-grow2 {
  animation: grow2 0.5s 1;
}

@keyframes diagonalRight {
  0% {
    transform: translatex(-200px) translatey(190px);
    background: linear-gradient(to left, #5A24B4, #AA33FF);
    width: 30px;
    height: 50px;
  }
  50% {
    width: 400px;
    height: 40px;
  }
  100% {
    transform: translatex(0px) translatey(0px);
    background: linear-gradient(to left, #5A24B4, #FE37EA);
    width: 50px;
    height: 30px;
  }
}
@keyframes diagonalLeft {
  0% {
    transform: translatex(200px) translatey(190px);
    background: linear-gradient(to left, #5A24B4, #AA33FF);
    width: 30px;
    height: 50px;
  }
  50% {
    width: 400px;
    height: 40px;
  }
  100% {
    transform: translatex(0px) translatey(0px);
    background: linear-gradient(to left, #5A24B4, #FE37EA);
    width: 50px;
    height: 30px;
  }
}
@keyframes grow {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow2 {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
}
.main .user-controls {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.box-title-bottom {
  display: flex;
  justify-content: center;
  padding: 10px 35px;
  margin-top: 7px;
  font-size: 28px;
}

.menu-card {
  padding: 10px 35px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  width: 200px;
  height: 30px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  align-items: center;
  font-size: 20px;
}
.menu-card-img {
  width: inherit;
  width: 270px;
  height: 50px;
  border-radius: 40px;
}
.menu-card-img img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.menu-card-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  height: 40px;
  position: absolute;
  color: white;
}
.menu-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

/*# sourceMappingURL=output.css.map */
